.card4{
    border: 1px solid #171616;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(94, 5, 5, 0.1);
    padding: 16px;
    background-color: #fff;
    max-width: 350px;
    height: 500px;
    position: absolute; 
    width: 350px;
    left: 550px; 
    top: 120px; 
  }
  .card-content4 {
    text-align: center;
  }
  
  .card4 h2 {
    font-size: 30px;
    margin-bottom: 8px;
    position: absolute;
    top: 0px;
    left: 150px;
  }
  .card4 p {
    font-size: 16px;
    position: absolute;
    top: 130px;
    text-align: center;
    left: 0px;
  }

  .card4 img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 240px;
    left: 50px;
  }

  .animat-log{
    width: 200px;
    height: 200px;
    margin: 0 10px;
    top: -100px;
    position: relative;
    right: 540px;
    margin-top: 80px;
    cursor: pointer;
    
}
.log{
    width: 200px;
    height: 200px;
    margin: 0 10px;
    top: 450px;
    position: relative;
    right: -520px;
    margin-top: 80px;
    cursor: pointer;
}